/* css styles */
a:hover {
  color: #bd62ab !important;
}

#TOC a:hover {
  color: #bd62ab !important;
}

.sidebar-menu-container .menu-text {
  font-weight: 500;
}

/* Bold the navigation bar title */
.navbar-title {
  font-weight: bold;
}

/* Bold the left navigation items */
.navbar-nav.me-auto .nav-link,
.navbar-nav.me-auto .menu-text {
  font-weight: bold;
}

.callout.callout-style-simple > div.callout-header {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  opacity: 85%;
}

.callout.callout-style-simple .callout-body {
  font-size: unset;
}

.callout-icon {
  font-style: unset;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 1rem;
}
