/* css styles */
a:hover {
  color: #bd62ab !important;
}

#TOC a:hover {
  color: #bd62ab !important;
}

.sidebar-menu-container .menu-text {
  font-weight: 500;
}

/* Bold the navigation bar title */
.navbar-title {
  font-weight: bold;
}

/* Bold the left navigation items */
.navbar-nav.me-auto .nav-link,
.navbar-nav.me-auto .menu-text {
  font-weight: bold;
}

.callout.callout-style-simple > div.callout-header {
  font-size: unset;
  margin-bottom: 1rem;
}

.callout.callout-style-simple .callout-body {
  font-size: unset;
}

