/*-- scss:functions --*/

@function softbox-bg($colour) {
  @return tint-color($colour, 97%);
}

/*-- scss:rules --*/

.callout.callout-style-simple {
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  --callout-header-bg: transparent;
}

.callout.callout-style-simple .callout-header,
.callout.callout-style-simple .callout-title,
.callout.callout-style-simple .callout-icon-collapse {
  color: var(--bs-body-color);
}

.callout-note.callout-style-simple {
  background-color: softbox-bg($callout-color-note);
  border-color: $callout-color-note;
}
.callout-tip.callout-style-simple {
  background-color: softbox-bg($callout-color-tip);
  border-color: $callout-color-tip;
}
.callout-caution.callout-style-simple {
  background-color: softbox-bg($callout-color-caution);
  border-color: $callout-color-caution;
}
.callout-warning.callout-style-simple {
  background-color: softbox-bg($callout-color-warning);
  border-color: $callout-color-warning;
}
.callout-important.callout-style-simple {
  background-color: softbox-bg($callout-color-important);
  border-color: $callout-color-important;
}
.callout-zombie.callout-style-simple {
  background-color: softbox-bg($green);
  border-color: $green;
}
